<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TryToNotDie</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="card mt-2" style="max-width:330px; margin:auto; padding: 10px">
        <h1>Save Game</h1>

        <p>
            Enter your save name and password:
        <form method="post" action="/save">
            Save name: <input type="text" name="save_name">
            <br>
            Password:  <input type="text" name="save_pass">
            <br>
            <input type="submit" value="Save">
        </form>
        </p>
        <br>
        <br>
        <a href="/">Back</a>

    </div>
</body>
</html>
